.radio{
    -webkit-appearance: none;
    appearance: none;
}

.radio + label{
    cursor: pointer;
}

.radio:checked + label {
    color: white;
    width: fit-content;
    padding: .5rem;
    background-color: #000000B2;
    border-radius: 12px;
}
