.radio {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

.radio + label {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: fit-content;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  transform: scale(1);
}

.radio + label:hover {
  background-color: rgba(85, 81, 71, 0.37);
  transform: scale(1.05); 
}

.radio:checked + label {
  color: rgb(255, 255, 255);
  background-color: #000000B2;
  border-radius: 12px;
  transform: scale(1.08);
}
